<meta charset='utf-8'>
<meta http-equiv="X-UA-Compatible" content="IE=edge">


<!-- <meta name="viewport" content="width=device-width,maximum-scale=2"> -->

<!-- http://t.co/dKP3o1e -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<link rel="stylesheet" href="{{ site.url }}/assets/css/foundation.min.css">
<link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

<!-- <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"> -->
<link rel="shortcut icon" href="{{ site.url }}/favicon.ico">

{% seo %}
