<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    {% include head.html %}
  </head>

  <body>

      {% include header.html %}

      <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
          <h5><span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time></span></h5>
          <h2>{{ page.title }}</h2>
          <h5>by {{ page.author }}</h5>
          <hr />
        {{ content }}
      </section>
    </div>

    {% include footer.html %}

    {% include scripts.html %}

  </body>
</html>
